{% extends 'temp/doctor-page.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>Manage Patient Appointment</h1>
		<table border="1" class="table table-dark">
			<tr>
				<td>User Name</td>
				<td>Date</td>
				<td>Time</td>
				<td>Status</td>
                <td></td>
                <td></td>
			</tr>
            {% for i in x %}
			<tr>
				<td>{{ i.user.name }}</td>
				<td>{{ i.date }}</td>
				<td>{{ i.time }}</td>
                <td>{{ i.status }}</td>
				<td><a href="/appointment/ approve/{{ i.appointment_id }}">Approve</a></td>
				<td><a href="/appointment/ reject/{{ i.appointment_id }}">Reject</a></td>
			</tr>
            {% endfor %}
		</table>
	</center>

</body>
</html>
{% endblock %}