{% extends 'temp/doctor-page.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>Schedule Time</h1>
    <div style="width: 40%">
		<form method="post">
            {% csrf_token %}
			<table class="table table-success table-borderless">
                <tr>
					<td align="center">Select Time</td>
					<td><input type="time" name="time" required></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Submit"></td>
				</tr>
			</table>
        </form>
    </div>
	</center>

</body>
</html>
{% endblock %}