{% extends 'temp/user-page.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>Check Appointment Status</h1>
		<table border="1" class="table table-dark">
			<tr>
				<td>Doctor Name</td>
				<td>Date</td>
				<td>Time</td>
				<td>Status</td>
			</tr>
            {% for i in x %}
			<tr>
				<td>{{ i.schedule.doctor.name }}</td>
				<td>{{ i.date }}</td>
				<td>{{ i.time }}</td>
                <td>{{ i.status }}</td>
			</tr>
            {% endfor %}
		</table>
	</center>

</body>
</html>
{% endblock %}