{% extends 'temp/admin-page.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>Manage Doctor</h1>
		<table border="1"  class="table table-dark">
			<tr>
				<td>Doctor Name</td>
				<td>Mobile</td>
				<td>Email</td>
				<td>Age</td>
				<td>Gender</td>
				<td>Kerala Medical Council Certificate</td>
				<td>Specialization</td>
				<td>Profile Picture</td>
				<td>Status</td>
                <td></td>
                <td></td>
			</tr>
            {% for i in x %}
			<tr>
				<td>{{ i.name }}</td>
				<td>{{ i.mobile }}</td>
				<td>{{ i.email }}</td>
				<td>{{ i.age }}</td>
				<td>{{ i.gender }}</td>
				<td><img src="/static/{{ i.qualification }}" width="100px" height="100px"></td>
				<td>{{ i.specialization }}</td>
				<td><img src="/static/{{ i.profile_pic }}" width="100px" height="100px"></td>
				<td>{{ i.status }}</td>
                <td><a href="/doctor_register/ approve/{{ i.doctor_id }}">Approve</a></td>
                <td><a href="/doctor_register/ reject/{{ i.doctor_id }}">Reject</a></td>
			</tr>
            {% endfor %}
		</table>
	</center>

</body>
</html>
{% endblock %}