<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>View Profile and Manage</h1>
		<table border="1">
			<tr>
				<td>Doctor Name</td>
				<td>Mobile</td>
				<td>Email</td>
				<td>Age</td>
				<td>Gender</td>
				<td>Qualification</td>
				<td>Specialization</td>
				<td>Profile Picture</td>
				<td>Password</td>
			</tr>
            {% for i in x %}
			<tr>
				<td>{{ i.name }}</td>
				<td>{{ i.mobile }}</td>
				<td>{{ i.email }}</td>
				<td>{{ i.age }}</td>
				<td>{{ i.gender }}</td>
				<td>{{ i.qualification }}</td>
				<td>{{ i.specialization }}</td>
				<td>{{ i.profile_pic }}</td>
				<td>{{ i.password }}</td>
				<td><a href="/doctor_register/ doctor_update/{{ i.doctor_id }}">Udate/Edit</a></td>
			</tr>
            {% endfor %}
		</table>
	</center>
</body>
</html>