{% extends 'temp/home-page.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>Doctor Registration</h1>
        <div style="width: 40%">
		<form method="post" enctype="multipart/form-data">
            {% csrf_token %}
			<table class="table table-success table-borderless">
				<tr>
					<td align="center">Name</td>
					<td align="center"><input type="text" name="dname" pattern="[A-Za-z]+" title="Name can only contain letters" required></td>
				</tr>
				<tr>
					<td align="center">Mobile</td>
					<td align="center"><input type="text" pattern="[0-9]{10}" name="dmobile" title="Enter the 10 digit number" required></td>
				</tr>
				<tr>
					<td align="center">Email</td>
					<td align="center"><input type="email" name="dmail" required></td>
				</tr>
				<tr>
					<td align="center">Age</td>
					<td align="center"><input type="text" pattern="[0-9]{2}" title="Please enter a valid age between 1 and 99" name="age"  required></td></td>
				</tr>
				<tr>
					<td align="center">Gender</td>
					<td align="center"><input type="radio" name="Gender" value="male" required>Male<input type="radio" name="Gender" value="female" required>Female</td>
				</tr>
				<tr>
					<td align="center">Kerala Medical Council Certificate</td>
					<td align="center"><input type="file" value="Choose a File" name="file" required></td>
				</tr>
				<tr>
					<td align="center">Specialization</td>
					<td align="center"><input type="text" name="specialization" required></td>
				</tr>
				<tr>
					<td align="center">Profile Picture</td>
					<td align="center"><input type="file" value="Choose a File" name="profile_pic" required></td>
				</tr>
				<tr>
					<td align="center">Password</td>
					<td align="center"><input type="Password" minlength="8" name="dpass" required></td>
				</tr>
				<tr>
					<td></td>
					<td align="center"><input type="submit" value="Register"></td>
				</tr>
			</table>
        </form>
        </div>
	</center>

</body>
</html>
{% endblock %}