{% extends 'temp/doctor-page.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>Doctor Profile Updation</h1>
        <div style="width: 40%">
		<form method="post" enctype="multipart/form-data">
            {% csrf_token %}
			<table class="table table-success table-borderless">
				<tr>
					<td align="center">Name</td>
					<td align="center"><input type="text" name="dname" value="{{ x.name }}" required></td>
				</tr>
				<tr>
					<td align="center">Mobile</td>
					<td align="center"><input type="text" pattern="[0-9]{10}" name="dmobile" value="{{ x.mobile }}" required></td>
				</tr>
				<tr>
					<td align="center">Email</td>
					<td align="center"><input type="email" name="dmail" value="{{ x.email }}" required></td>
				</tr>
				<tr>
					<td align="center">Age</td>
					<td align="center"><input type="number" name="age" value="{{ x.age }}" required></td>
				</tr>
				<tr>
					<td align="center">Gender</td>
					<td align="center"><input type="radio" name="Gender" value="male" required>Male<input type="radio" name="Gender" value="female" required>Female</td>
				</tr>
				<tr>
					<td align="center">Kerala Medical Council Certificate</td>
					<td align="center"><input type="file" value="Choose a File" name="file" required></td>
				</tr>
				<tr>
					<td align="center">Specialization</td>
					<td align="center"><input type="text" name="specialization" value="{{ x.specialization }}" required></td>
				</tr>
				<tr>
					<td align="center">Profile Picture</td>
					<td align="center"><input type="file" value="Choose a File" name="profile_pic" required></td>
				</tr>
				<tr>
					<td align="center">Password</td>
					<td align="center"><input type="Password" minlength="8" name="dpass" value="{{ x.password }}" required></td>
				</tr>
				<tr>
					<td></td>
					<td align="center"><input type="submit" value="Submit"></td>
				</tr>
			</table>
        </form>
        </div>
	</center>

</body>
</html>
{% endblock %}