{% extends 'temp/admin-page.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>Manage Disease</h1>
		<table border="1" class="table table-dark">
			<tr>
				<td>Disease Name</td>
				<td>Disease Symptoms</td>
				<td>Disease Image</td>
			</tr>
            {% for i in x %}
			<tr>
				<td>{{ i.disease_name }}</td>
				<td>{{ i.disease_symptom }}</td>
				<td>{{ i.disease_image }}</td>
				<td><a href="/disease/ admin_update/{{ i.disease_id }}">Udate/Edit</a></td>
				<td><a href="/disease/ admin_delete/{{ i.disease_id }}">Delete</a></td>
			</tr>
            {% endfor %}
		</table>
	</center>

</body>
</html>
{% endblock %}