{% extends 'temp/user-page.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>View Doctors Schedule and Appointment</h1>
		<table border="1" class="table table-dark">
			<tr>
				<td>Doctor Name</td>
                <td>Profile Picture</td>
                <td>Doctor Schedule</td>
                <td>Specialization</td>
                
				<td></td>
			</tr>
            {% for i in x %}
			<tr>
				<td>{{ i.doctor.name }}</td>
                <td><img src="/static/{{ i.doctor.profile_pic }}" width="100px" height="100px"></td>
                <td>{{ i.schedule }}</td>
                <td>{{ i.doctor.specialization }}</td>
				<td><a href="/appointment/appointment/{{ i.schedule_id }}">Appointment</a></td>
			</tr>
            {% endfor %}
		</table>
	</center>

</body>
</html>
{% endblock %}